body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nabvar */

.img-bg-navbar {
  background-image: url('/assets/bg-navbar.svg');
}

.navbar-brand img {
  width: 4.4rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.navbar-brand:hover img {
  transform: scale(1.22);
  filter: drop-shadow(0 0 0.8em #cd940faa);

}

/* nabvar */


/* carousel */

.mt-carousel {
  margin-top: 6rem;
}

.img-carousel img {
  width: 80%;
}

@media(min-width: 576px) {
  .img-carousel img {
    width: 50%;
  }
}

@media(min-width: 992px) {
  .img-carousel img {
    width: 30%;
  }
}

/* carousel */



/* IMAGENES DE HOMEPAGE */
@media(min-width: 1200px) {

  .img-servicios img {
    width: 80%;
    margin-left: 8rem;
    transform: scale(1);
    transition: 1s ease-in-out;
  }

  .img-servicios:hover img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 1.5em #cd940faa);

  }
}

/* IMAGENES DE HOMEPAGE */




/* card */
.imgCard:hover {
  filter: drop-shadow(0 0 0.6em #5a5959aa);
}

.imgCard :hover img {
  filter: drop-shadow(0 0 0.6em #5a5959aa);
}

.imgCardPage :hover {
  filter: drop-shadow(0 0 0.6em #5a5959aa);
}

/* card */


/* ANIMACIONES DE ICONOS  */

.icon {
  display: inline-block;
  font-size: 16px;
  animation: float 5s ease-in-out infinite;
}

.icon:hover {
  filter: drop-shadow(0 0 0.6em #cd940faa);
}

.twitter-icon:hover {
  filter: drop-shadow(0 0 0.6em #cd940faa);
}

.instagram-icon {
  animation-delay: 1s;

}

.instagram-icon:hover {
  animation-delay: 1s;
  filter: drop-shadow(0 0 0.6em #cd940faa);
}

.facebook-icon {
  animation-delay: 2s;
}

.facebook-icon:hover {
  animation-delay: 2s;
  filter: drop-shadow(0 0 0.6em #cd940faa);

}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}


/* ANIMACIONES DE ICONOS  */


/* footer */

.img-footer img {
  width: 6rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.img-footer:hover img {
  transform: scale(1.15);
  filter: drop-shadow(0 0 0.6em #cd940faa);
}

/* footer */


/* btn */


.btn-warning {
  background-color: hsla(30, 99%, 48%, 0.73);
  border-color: #cd940f;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: 700;
  transition: 0.7s ease-in-out;
}

@media(min-width: 768px) {
  .btn-warning {
    background-color: hsla(30, 99%, 48%, 0.73);
    border-color: #cd940f;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: 0.7s ease-in-out;
  }

}

/* btn */